[submodule "Silmaril/thirdparty/glm"]
	path = Silmaril/thirdparty/glm
	url = https://github.com/aezaqiel/glm
[submodule "Silmaril/thirdparty/stb"]
	path = Silmaril/thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "Silmaril/thirdparty/tinyobjloader"]
	path = Silmaril/thirdparty/tinyobjloader
	url = https://github.com/aezaqiel/tinyobjloader.git
[submodule "Silmaril/res/Assets/Sponza"]
	path = Silmaril/res/Assets/Sponza
	url = https://github.com/jimmiebergmann/Sponza.git
[submodule "Silmaril/thirdparty/spdlog"]
	path = Silmaril/thirdparty/spdlog
	url = https://github.com/aezaqiel/spdlog
[submodule "Silmaril/thirdparty/glfw"]
	path = Silmaril/thirdparty/glfw
	url = https://github.com/glfw/glfw
